/*@font-face {*/
/*font-family: MuseoSansCyrl100;*/
/*src: url('../fonts/MuseoSansCyrl-100.otf');*/
/*}*/

/*@font-face {*/
/*font-family: MuseoSansCyrl100i;*/
/*src: url('../fonts/MuseoSansCyrl-100Italic.otf');*/
/*}*/

/*@font-face {*/
/*font-family: MuseoSansCyrl300;*/
/*src: url('../fonts/MuseoSansCyrl-300.otf');*/
/*}*/

/*@font-face {*/
/*font-family: MuseoSansCyrl300i;*/
/*src: url('../fonts/MuseoSansCyrl-300Italic.otf');*/
/*}*/

/*@font-face {*/
/*font-family: MuseoSansCyrl500;*/
/*src: url('../fonts/MuseoSansCyrl-500.otf');*/
/*}*/

/*@font-face {*/
/*font-family: MuseoSansCyrl500i;*/
/*src: url('../fonts/MuseoSansCyrl-500Italic.otf');*/
/*}*/

@font-face {
    font-family: MuseoSansCyrl700;
    src: url('../fonts/MuseoSansCyrl-700.otf');
}

/*@font-face {*/
/*font-family: MuseoSansCyrl700i;*/
/*src: url('../fonts/MuseoSansCyrl-700Italic.otf');*/
/*}*/

@font-face {
    font-family: MuseoSansCyrl900;
    src: url('../fonts/MuseoSansCyrl-900.otf');
}

/*@font-face {*/
/*font-family: MuseoSansCyrl900i;*/
/*src: url('../fonts/MuseoSansCyrl-900Italic.otf');*/
/*}*/
@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.d-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main {
    background-color: #333333;
    height: 684px;
    /*width: 100%;*/
    width: 100%;
    overflow: hidden;
}

.main-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 484px;
    align-items: center;
    margin-top: 77px;
    width: 38%;
}

.line {
    height: 4px;
    width: 115px;
    background-color: #aa8152;
}

.tagline {
    font-family: 'MuseoSansCyrl700', sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
    line-height: 30px;
    font-weight: 700;
}

.right-col {
    padding: 0;
    position: relative;
    width: 62%;
}

.back-gold {
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #aa8152;
    width: 70vw;
    height: 680px;
    z-index: 0;
    margin-left: 0;
    transform: translateZ(0);
}

.faces {
    transform: translateZ(0);
    z-index: 5;
    margin-top: 17px;
    margin-left: 68px;
    position: relative;
    filter: grayscale(1);
}

.square {
    position: absolute;
    box-sizing: border-box;
    border: #ffffff solid 6px;
    width: 92px;
    height: 93px;
    transition: opacity 0.7s;
}
.square:hover {
    opacity: 0;
}

.faces:hover {
filter: grayscale(0);
}

.square1 {
    top: 173px;
}

.square2 {
    top: 265px;
    left: 273px;
}

.square3 {
    top: 173px;
    left: 546px;
    width: 90px;
}

.square4 {
    left: 363px;
    bottom: 3px;
}

.preferences {
    background-color: rgba(170, 129, 82, 0.3);
}

.pref-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.pref-header h2 {
    font-family: 'MuseoSansCyrl900', sans-serif;
    color: #333333;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.pref-item {
    height: 354px;
    width: 16.67%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.light-gray {
    background-color: #ebebeb;
}

.light-gold {
    background-color: rgba(170, 129, 82, 0.3);
}

.gray {
    background-color: #d7d7d7;
}

.semi-gold {
    background-color: rgba(170, 129, 82, 0.43);
}

.img-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 140px;
}

.pref-item h5 {
    font-family: 'MuseoSansCyrl700', sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.pref-item p {
    font-family: 'MuseoSansCyrl700', sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 16px;
    text-align: center;
    margin-top: 21px;
    line-height: 20px;
    padding: 0 10px;
}

.pref-left-col {
    width: 50%;
    background-color: #333333;
    text-align: center;
    padding-bottom: 150px;
}

.pref-left-col h3 {
    font-family: 'MuseoSansCyrl700', sans-serif;
    font-weight: 700;
    color: #aa8152;
    font-size: 40px;
    margin-top: 127px;
    line-height: 40px;
    text-transform: uppercase;
}

.pref-left-col h4 {
    font-family: 'MuseoSansCyrl700', sans-serif;
    font-weight: 700;
    color: #aa8152;
    font-size: 28px;
    line-height: 40px;
    text-transform: uppercase;
}

.pref-right-col {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
}

.pref-right-col ul {
    margin-top: 105px;
    margin-left: 115px;
    margin-bottom: 82px;
}

.pref-right-col li {
    /*list-style-image: url("../img/spiral.png");*/
    list-style: none;
    position: relative;
    font-family: 'MuseoSansCyrl700', sans-serif;
    color: #333333;
    font-size: 24px;
    line-height: 51px;
}

.pref-right-col li::before {
    position: absolute;
    content: ' ';
    width: 25px;
    height: 22px;
    background: url("../img/spiral.png") no-repeat;
    background-size: contain;
    left: -38px;
    bottom: 15px;
}

.cloud {
    background-color: rgba(0, 0, 0, 0.1);
    height: 493px;
    overflow: hidden;
}

.cloud .container {
    /*background-color: #fff;*/
    position: relative;
    height: 100%;
}

.cloud .container img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
}

.expertise {
    background-color: #aa8152;
    height: 740px;
    padding-top: 24px;
}

.expertise h3 {
    font-family: 'Gotham Pro Bold', sans-serif;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.expertise-img-container {
    position: relative;
    height: 557px;
    width: 557px;
    margin: 40px auto;
}

.outer-circle {
    border-radius: 50%;
    border: 1px dashed rgba(255, 255, 255, .5);
    width: 556px;
    height: 556px;
}

.circle-2 {
    width: 86%;
    height: 86%;
    border: 1px dashed rgba(255, 255, 255, .5);
    opacity: 1;
    border-radius: 50%;
    margin: 7% auto;
}

.circle-3 {
    width: 90%;
    height: 90%;
    border: 4px solid #ffffff;
    opacity: 1;
    border-radius: 50%;
    margin: 5% auto;
}

.circle-4 {
    width: 92%;
    height: 92%;
    border: 1px dashed rgba(255, 255, 255, .5);
    opacity: 1;
    border-radius: 50%;
    margin: 4% auto;
}

.circle-5 {
    width: 78%;
    height: 78%;
    border: 1px dashed rgba(255, 255, 255, .5);
    opacity: 1;
    border-radius: 50%;
    margin: 11% auto;
}

.sat {
    background-color: #ffffff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: calc(-3px);
    left: calc(50% + 3px);
    transform-origin: -3px 282px 0;
    transition: all 0.4s;
}

.sat-inner {
    top: calc(23.5% - 3px);
    transform-origin: -3px 159px 0;
}

.sat1 {
    transform: rotateZ(30deg);
    animation: sat1rot 120s linear infinite;
}

.sat2 {
    transform: rotateZ(80deg);
    animation: sat2rot 120s linear infinite;
}

.sat3 {
    transform: rotateZ(120deg);
    animation: sat3rot 120s linear infinite;
}

.sat4 {
    transform: rotateZ(165deg);
    animation: sat4rot 120s linear infinite;
}

.sat5 {
    transform: rotateZ(200deg);
    animation: sat5rot 120s linear infinite;
}

.sat6 {
    transform: rotateZ(230deg);
    animation: sat6rot 120s linear infinite;
}

.sat7 {
    transform: rotateZ(280deg);
    animation: sat7rot 120s linear infinite;
}

.sat8 {
    transform: rotateZ(325deg);
    animation: sat8rot 120s linear infinite;
}

.sat9 {
    transform: rotateZ(10deg);
    animation: sat9rot 120s linear infinite;
}

.sat10 {
    transform: rotateZ(60deg);
    animation: sat10rot 120s linear infinite;
}

.sat11 {
    transform: rotateZ(130deg);
    animation: sat11rot 120s linear infinite;
}

.sat12 {
    transform: rotateZ(200deg);
    animation: sat12rot 120s linear infinite;
}

.sat13 {
    transform: rotateZ(290deg);
    animation: sat13rot 120s linear infinite;
}

@keyframes sat1rot {
    0% {
        transform: rotateZ(30deg);
    }
    to {
        transform: rotateZ(390deg)
    }
}

@keyframes sat2rot {
    0% {
        transform: rotateZ(80deg);
    }
    to {
        transform: rotateZ(440deg)
    }
}

@keyframes sat3rot {
    0% {
        transform: rotateZ(120deg);
    }
    to {
        transform: rotateZ(480deg)
    }
}

@keyframes sat4rot {
    0% {
        transform: rotateZ(165deg);
    }
    to {
        transform: rotateZ(525deg)
    }
}

@keyframes sat5rot {
    0% {
        transform: rotateZ(200deg);
    }
    to {
        transform: rotateZ(560deg)
    }
}

@keyframes sat6rot {
    0% {
        transform: rotateZ(230deg);
    }
    to {
        transform: rotateZ(590deg)
    }
}

@keyframes sat7rot {
    0% {
        transform: rotateZ(280deg);
    }
    to {
        transform: rotateZ(640deg)
    }
}

@keyframes sat8rot {
    0% {
        transform: rotateZ(325deg);
    }
    to {
        transform: rotateZ(685deg)
    }
}

@keyframes sat9rot {
    0% {
        transform: rotateZ(10deg);
    }
    to {
        transform: rotateZ(-350deg)
    }
}

@keyframes sat10rot {
    0% {
        transform: rotateZ(60deg);
    }
    to {
        transform: rotateZ(-300deg)
    }
}

@keyframes sat11rot {
    0% {
        transform: rotateZ(130deg);
    }
    to {
        transform: rotateZ(-230deg)
    }
}

@keyframes sat12rot {
    0% {
        transform: rotateZ(200deg);
    }
    to {
        transform: rotateZ(-130deg)
    }
}

@keyframes sat13rot {
    0% {
        transform: rotateZ(290deg);
    }
    to {
        transform: rotateZ(-70deg)
    }
}

.planet {
    position: absolute;
    top: calc(11% - 28px);
    left: calc(50% - 28px);
    border-radius: 50%;
    background-color: #ffffff;
    width: 56px;
    height: 56px;
    transform-origin: 50% 248px 0;
    transition: all 0.4s;
}

.planet:hover {
    box-shadow: white 0 0 10px 1px;
}

.planet:hover div p {
    transform: scale(1.2);
}

.planet div p {
    font-family: 'Gotham Pro Regular', sans-serif;
    color: #ffffff;
    background-color: #aa8152;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    transition: all 0.4s;
}

.planet div img {
    padding: 5px;
}

.reloc div p {
    top: -65px;
    left: -5px;
    text-align: center;
}

.hr-supp {
    transform: rotateZ(45deg);
}

.hr-supp div {
    transform: rotateZ(-45deg);
}

.hr-supp p {
    top: -13px;
    left: 70px;
}

.corporate {
    transform: rotateZ(90deg);
}

.corporate div {
    transform: rotateZ(-90deg);
}

.corporate p {
    top: -13px;
    left: 70px;
}

.turnkey {
    transform: rotateZ(135deg);
}

.turnkey div {
    transform: rotateZ(-135deg);
}

.turnkey p {
    top: -13px;
    left: 70px;
}

.it-recr {
    transform: rotateZ(180deg);
}

.it-recr div {
    transform: rotateZ(-180deg);
}

.it-recr p {
    bottom: -60px;
    left: -8px;
    text-align: center;
    word-wrap: break-spaces;
}

.facilit {
    transform: rotateZ(225deg);
}

.facilit div {
    transform: rotateZ(-225deg);
}

.facilit p {
    top: -13px;
    left: -80px;
    text-align: center;
}

.blockchain {
    transform: rotateZ(270deg);
}

.blockchain div {
    transform: rotateZ(-270deg);
}

.blockchain p {
    top: -13px;
    left: -85px;
    text-align: center;
}

.accounting {
    transform: rotateZ(315deg);
}

.accounting div {
    transform: rotateZ(-315deg);
}

.accounting p {
    top: -13px;
    left: -88px;
}

.planet div {
    position: relative;
    margin-top: 27px;
}

.expertise-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.expertise-logo {
    box-shadow: #aa8152 0 35px 20px 20px;
}

.footer-p {
    margin-bottom: 80px;
}

.footer-p p {
    font-family: 'MuseoSansCyrl700', sans-serif;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    padding: 16px;
}

.footer-p span {
    text-decoration: line-through;
}

.footer {
    width: 100vw;
    background-color: rgb(215, 215, 215);
    position: fixed;
    bottom: 0;
}

.footer .container {
    justify-content: space-around;
    padding: 32px;
}

.contact {
    font-family: 'MuseoSansCyrl700', sans-serif;
    color: #333333;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    padding-left: 25px;
    transition: all 0.3s;
}

.contact-header {
    font-family: 'Gotham Pro Bold', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
}

.mail::before {
    position: absolute;
    content: ' ';
    width: 18px;
    height: 11px;
    background: url("../img/footer/envelope.png") no-repeat;
    background-size: contain;
    bottom: 3px;
    left: -5px;
}

.phone::before {
    position: absolute;
    content: ' ';
    width: 14px;
    height: 14px;
    background: url("../img/footer/phone-receiver.png") no-repeat;
    background-size: contain;
    bottom: 3px;
    left: 0px;
}

.web::before {
    position: absolute;
    content: ' ';
    width: 15px;
    height: 14px;
    background: url("../img/footer/home.png") no-repeat;
    background-size: contain;
    bottom: 1px;
    left: 0px;
}

.mail:hover,
.web:hover {
    transform: translateY(-2px);
}